pip install discord==2.3.2
pip install vk-api
pip install pynacl
pip install mcstatus
pip install javascript
pip install dislash==1.4.9
pip install discord-components
pip install art
pip install aiohttp
